<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Bine ai venit, <%= user.username %>!</h1>
  <form action="/logout" method="POST"><button>Logout</button></form>
</body>
</html>
